.main-content {
  background-image: url("https://th.bing.com/th/id/R.c0443fe4940459f7dcb2cf7fb2b73183?rik=bNM0XPzVl4f7fg&riu=http%3a%2f%2fpictures.4ever.eu%2fdata%2fdownload%2fcars%2fartistic%2fcar-227300.jpg%3fno-logo&ehk=yXrflNJ2%2bHlJ9XRWkKgMwpMjuyFRoWJO8LVZbZ5vPlM%3d&risl=&pid=ImgRaw&r=0");
  background-size: 100%;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 100px 50px 50px;
  text-align: center;
}

.main-content h1 {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-content p {
  font-size: 1.5rem;
  font-style: italic;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
