.service-details-container {
  position: relative;
  text-align: center;
}

.service-details-container p {
  color: white;
  margin-top: 20px;
}

.heading-of-view-service-details {
  position: relative;
  color: white;
  margin-top: 50px;
}

.service-background {
  background-image: url("https://cdn.dribbble.com/users/1144/screenshots/1947331/media/984ab53840a9b18ae1c842cf093c17d9.gif");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
