.booking-details-container p {
  position: absolute;
  color: white;
  top: 30%;
  left: 40%;
}

.heading-of-view-booking-details {
  position: absolute;
  top: 20%;
  left: 37%;
  color: white;
}

.booking-background {
  background-image: url("https://cdn.dribbble.com/users/1144/screenshots/1947331/media/984ab53840a9b18ae1c842cf093c17d9.gif");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
