.customer-vehicle-details-container {
  text-align: center;
  color: black;
  margin-top: 20px;
}

.customer-heading-of-view-vehicle-details {
  color: black;
  margin-top: 20px;
}

.customer-vehicle-background {
  background-image: url("https://img.freepik.com/premium-vector/light-background-text-template-with-light-circles-abstraction-is-blue-with-pink_586153-21.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
