.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 70px;
}

.login-container h1 {
  margin-bottom: 20px;
}

.login-button {
  margin-top: 20px;
  width: 100%;
}

.admin-login {
  margin-top: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .login-container {
    max-width: 400px;
    margin: 0 auto;
  }
}
.login-background {
  background-image: url("https://img.freepik.com/premium-vector/light-background-text-template-with-light-circles-abstraction-is-blue-with-pink_586153-21.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
