.service-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  padding: 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

.service-details-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.service-details-container h2 {
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #333333;
  text-align: center;
}

.service-details-container p {
  margin-top: 20px;
  text-align: center;
  color: #666666;
}

.table {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.modal-header,
.modal-body {
  padding: 20px;
}

.modal-header {
  border-bottom: 1px solid #dddddd;
}

.modal-title {
  font-size: 1.5rem;
  color: #333333;
}

.form-group {
  margin-bottom: 25px;
}

.form-label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333333;
}

.form-control {
  width: 100%;
  padding: 15px;
  border: 1px solid #dddddd;
  border-radius: 15px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  outline: none;
  border-color: #007bff;
}

.error-message {
  margin-top: 15px;
  color: #ff0000;
  font-size: 1rem;
  text-align: center;
}

.success-message {
  margin-top: 15px;
  color: #28a745;
  font-size: 1rem;
  text-align: center;
}

.service-details-background {
  background-image: url("https://img.freepik.com/premium-vector/light-background-text-template-with-light-circles-abstraction-is-blue-with-pink_586153-21.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
