.customer-booking-details-container {
  color: black;
  /* position: relative; */
  text-align: center;
  margin-top: 20px;
}
.customer-heading-of-view-booking-details {
  /* position: relative; */
  color: black;
  margin-top: 20px;
}

.customer-booking-background {
  background-image: url("https://img.freepik.com/premium-vector/light-background-text-template-with-light-circles-abstraction-is-blue-with-pink_586153-21.jpg");
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
